python-on-whales
textblob
validators
qdrant_client
sentence_transformers
beautifulsoup4
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
transformers>=4.36.0 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
