python-on-whales
textblob
validators
qdrant_client
sentence_transformers
newspaper3k
langchain==0.1.6
langchain-community==0.0.19
unstructured
unstructured[pdf]
pypdf
pypandoc
rapidocr-onnxruntime
beautifulsoup4
selenium
webdriver_manager
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
transformers>=4.36.0 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability

nltk>=3.8.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
