python-on-whales
textblob
validators
qdrant_client
sentence_transformers
newspaper3k
langchain==0.1.6
langchain-community==0.0.19
unstructured
unstructured[pdf]
pypdf
pypandoc
rapidocr-onnxruntime
beautifulsoup4
selenium
webdriver_manager


grpcio-status==1.62.2
grpcio-tools==1.62.2
transformers>=4.48.0 # not directly required, pinned by Snyk to avoid a vulnerability
